$link-color: $blue-100;

.navigation {
  padding-top: 1rem !important;
}
.main-content {
  padding-top: 1rem !important;
}

.highlight .kt {
  color: #2F4F4F !important;
}
.highlight .n {
  color: #B22222 !important;
}
.highlight .o {
  color: #2F4F4F !important;
}
.highlight .k {
  color: #555 !important;
}
